audio {
  display: none;
}

ul {
  list-style: none;

  li {
    margin-bottom: 10px;
  }
}

.track__preview {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;

  &:hover {
    color: #999;
  }
}